body{
        background-color: #ebd59b;
}

p{
    text-align: justify;

}

nav{
    background-color: rgb(10, 5, 80);
}

li.nav-item{
    margin-right: 20px;
}

p.card-text{
    text-align: center;
    font-size: larger;
}

#alap{
    background-color: white;
}

h1, h2{
    color: #0a0550;
    font-weight: bold;
    font-style: italic;
}

.forrashivatkozas {
    color: #8b0000;
    text-decoration: none;
}